/******** index.html ********/

body{
    background: url("../images/general/background2.jpg");
    background-size: 100%;
    margin: 0;
    background-attachment: fixed
}
.container {
    width: 100%;
    padding-top: 50px;
    
}
.header {
    position: fixed;
    color: black;
    width: 100%;
    font-family: 'Roboto'
}
.header>div:nth-child(2) {
    display: flex;
    justify-content: flex-end
}
.header>div:nth-child(1) {
    display: flex;
    justify-content: flex-start
}
ul.footer>li {
    padding: 0 5px 0 5px;
}
ul.footer>li>a {
    font-family: 'Roboto';
    font-size: 120%;
    display: flex;
    justify-content: center;
    color: white
}
.footer {
    background-color: rgb(46,117,182);
    font-family: Roboto;
    padding: 5px 0 5px 0
}
.footer-home {
    padding: 20px 0 20px 0;
}
.col-xs-15{
    width:20%;
}

/******** home ********/

.home {
    height: 525px;
    padding: 10px;
    display: flex;
    justify-content: center
}
video{
    height: 100%;
    
}

