/******** index.html ********/

body{
    bakground-size: 100%;
    margin: 0;
    background-attachment: fixed
}
.container {
    width: 100%;
    padding: 0
}
/*
.header {
    position: fixed;
    z-index: 1;
    color: darkblue;
    width: 100%;
    font-family: 'Roboto'
}
.header>div:nth-child(2) {
    display: flex;
    justify-content: flex-end
}
.header>div:nth-child(1) {
    display: flex;
    justify-content: flex-start
} */

ul.footer>li {
    padding: 0 5px 0 5px;
}
ul.footer>li>a {
    font-family: 'Roboto';
    font-size: 120%;
    padding: 10px 10px 50px 10px;
    display: flex;
    justify-content: center;
    color: white
}
.footer {
    background-color: rgb(46,117,182);
    font-family: Roboto;
    padding: 5px 0 5px 0;
}
.col-xs-15{
    width:20%;
}

/******** carousel ******/

.carousel-inner {
    padding: 0;
    margin: 0;
}
.item {
    height: 680px;
    
}
.item>img {
    width: 100%
}
/******** home ********/

.home {
    height: 525px;
    padding: 10px;
    display: flex;
    justify-content: center
}
video{
    height: 100%;
    
}

.home-title {
    color: white;
    width: 100%;
    font-size: 80px;
    bottom: 6%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10000;
    
}
.icons { 
    width: 100%;
    padding-left: 0.5%;
    top: 1%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    z-index: 10000;
}

.icons>a {
    padding: 0 2px;
    display: flex;
    align-items: flex-end
}
.social-med {
    filter: saturate(0%);
    height: 35px
}
