/******** index.html ********/

body{
    margin: 0;
    background-attachment: fixed;
    background-image: url("../images/general/background1.jpg");
    background-size: cover
}
.container {
    width: 100%;
    padding: 0
}
ul.footer>li {
    z-index: 100000;
}


ul.footer>li>a {
    font-family: 'Raleway';
    font-size: 120%;
    padding-bottom: 20%;
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.6);
    z-index: 100000
}
@media (max-width: 600px) {
  ul.footer>li>a {
    font-size: 28px;
      margin-right: 10px;
  }
}
.footer {
    background-color: rgb(74, 28, 65);
    font-family: Roboto;
    padding: 0.7% 10% 0% 10%;
}
@media (max-width: 600px) {
  .footer {
      padding: 0.7% 0 0.7% 0;
   }
}
.col-xs-15{
    width:20%;
}
.copyright {
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 13px;
    padding-right:18px;
    font-size: 12px;
    text-decoration: none
}
@media (max-width: 600px) {
  .copyright {
    display: none
  }
}
@media (min-width: 600px) {
  p.symbols {
    display: none
  }
}
@media (max-width: 600px) {
    p.nav-main {
        display: none
    }
}
/******** carousel ******/

.carousel-inner {
    padding: 0;
    margin: 0;
}
.item,.carousel-inner,#mycarousel {
    height: 100%;
    width:100%;
}
.item>img {
    width: 100%;
    height: 100% !important;
}
/******** home ********/
#home-body{
    width: 100%;
    height:100vh;
    position: relative
}
@media (max-width: 600px) {
  #home-body {
    height: 450px;
  }
}
@media (max-width: 600px) {
  .carousel-control{
     height: 100%
    }
}
.home-title {
    color: white;
    width: 100%;
    font-size: 7vw;
    font-family: Raleway;
    bottom: 3%;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 10000;
    text-align: center
}
@media (max-width: 600px) {
  .home-title {
    font-size: 70px;
    bottom: 30%;
    position:relative;
    padding: 20px 0 0 0;
    margin-bottom:0;
    background-color: rgb(74, 28, 65)
  }
}
.icons {
    width: 100%;
    padding-left: 0.5%;
    top: 1%;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index: 10000;
}
.icons>a {
    padding: 0 2px;
    display: flex;
    align-items: flex-end
}
.social-med {
    filter: saturate(100%);
    height: 40px
}

.social-med1 {
     height: 50px
 }
/******** meet-the-band *********/
@media (min-width: 600px) {
  .meet.phone {
    display: none
  }
}
@media (max-width: 600px) {
  .meet.laptop {
    display: none
  }
}

ul{
  -webkit-padding-start: 0px
}
ul.meet {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3% 0 20% 0;
    list-style-type: none;
    width: 100%
}
ul.meet>li{
    border: 1px solid black;
    padding: 10px 0.7%;
    border-radius: 10px;
    margin: 0 0.5% 0 0.5%;
    font-family: Raleway;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
@media (max-width: 600px) {
  ul.meet>li {
    margin: 0 5px;
    padding-left: 10px;
    padding-right: 10px
  }
}
ul.meet>li>a{
    color: black;
    text-decoration: none;
}
@media (max-width: 600px) {
  ul.meet>li>a {
    font-size: 19px;
    text-align: center;
  }
}
img.meet {
    width: 100%;
    height: 25vw;
    opacity: 0.5
}
@media (max-width: 600px) {
  img.meet {
    height: 200px
  }
}
.member {
    width: 100%;
    padding: 0 30%;
}
@media (max-width: 600px) {
  .member {
    padding: 0 10%;
  }
}
.member>div {
    font-size: 13px;
    padding: 0 2%;
    margin-bottom: 20px;
    color: rgba(255,255,255,0.6)
}
@media (max-width: 600px) {
  .member>div {
    font-size: 18px;
  }
}
.member>div#one,.member>div#two {
    text-align: center;
}
.meet-member-images{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 5%
}
@media (max-width: 600px) {
    .meet-member-images {
        margin-top: 150px
    }
}
.meet-member {
    border-radius: 100%;
    position: absolute;
    height: 27vw;
    max-height: 230px;
    padding: 10px;
    filter:grayscale();
    top:-15%
}
@media (max-width: 600px) {
    .meet-member {
        top: -40%;
        height: 170px
    }
}
h1 {
    display: flex;
    justify-content: center;
    font-size: 8vw;
    font-family: Raleway;
    color: white;
    text-align: center
}
@media (max-width: 600px) {
    h1 {
        font-size: 60px;
    }
}
.meet-maintitle {
    margin-bottom: 4%;
}
.meet-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding-top: 8%;
}
@media (max-width: 600px) {
  .meet-header {
    padding-top: 25%;
  }
}
.meet-header>img {
    border-radius: 100%;
    height: 130px;
    margin: 1% 0.3% 1% 0.3%;
    border: white solid 1px
}
@media (max-width: 600px) {
  .meet-header>img {
    height: 95px;
  }
}
hr {
    width: 40%;
    padding-bottom:10%;
    border-color: rgba(255,255,255,0.5)
}
.meet-hover {
    background-color: rgb(74, 28, 65);
    color: white;
    border: none
}
.top {
    position: fixed;
    z-index: 1;
    right: 1%;
    top: 76%
}
@media (max-width: 600px) {
  .top {
    top: 4px;
  }
}
.top>img {
    height: 60px
}
hr.final {
    padding-bottom: 2%
}
.footer-details {
    margin-bottom: 15%;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px
}
@media (max-width: 600px) {
  .footer-details {
    font-size: 15px;
    margin-bottom: 250px
  }
}
.dj-name,.mn-name,.md-name,.pt-name {
    position: absolute;
    font-size: 7vw;
    bottom: 2%;
    color: white;
    font-family: Raleway;
}
@media (max-width: 600px) {
    .dj-name,.mn-name,.md-name,.pt-name {
        font-size: 60px;
    }
}
/*********** listen ***********/
.listen-options {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(78,24,65,0.2);
    min-height: 300px
}
@media (max-width: 600px) {
  .listen-options {
    min-height: 250px;
  }
}
.listen-body {
    width: 100%;
    height: 94vh;
    position: relative;
}
.listen-body2{
    position: absolute;
    width: 100%;
    top: 6%;
}
img#album1,img#album2,img#album3,img#album4 {
    height: 7vw;
    width: 7vw;
    border: white solid 1px;
    opacity: 0.5;
}
@media (max-width: 600px) {
  img#album1,img#album2,img#album3,img#album4 {
    height: 90px;
    width: 90px;
  }
}
button {
    padding:0;
}
img#album-main {
    width: 260px;
    height: 260px;
    margin: 1%;
    border-radius: 5px;
    border: solid white 1px;
}
@media (max-width: 600px) {
  img#album-main {
    display: none
  }
}
.listen-opt-body {
    height: 270px;
    width: 40%;
}
@media (max-width: 600px) {
  .listen-opt-body {
    height: 180px;
    width: 90%;
    margin-top: -10%
  }
}
.listen-opt-info>audio {
    width: 95.5%;
    margin-left: 1.5%

}
.listen-opt-albums>a>img {
    border-radius: 5px
}
.listen-album-info{
    color: rgba(255,255,255,0.8);
    font-size: 19px;
    text-align: left;
    font-family: Raleway;
    margin-left: 1.5%
}
@media (max-width: 600px) {
  .listen-album-info {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .listen-album-info {
    font-size: 20px;
  }
}
.listen-opt-albums>button {
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}
.listen-opt-albums{
    display: flex;
    justify-content: space-around
}


em.year {
    font-size: 16px;
    color: rgba(255,255,255,0.5)
}
@media (max-width: 600px) {
  em.year {
    display: none
  }
}
.ng-dirty{
   padding-right: 20px;
}
.ng-scope>td{
    padding: 5px;
}
ul.listen-meet {
    margin-bottom: 10%;
    margin-top: 15px
}
@media (max-width: 600px) {
  ul.listen-meet {
    margin-bottom: 180px
  }
}
.listen-title{
    margin-top: 0
}
@media (max-width: 600px) {
  .listen-title {
    margin-top: 40px
  }
}


.gallery-main{
    width:90%;
    max-width:400px;
}
.gallery0{
    height: 300px;
    width: 100%
}
@media (max-width: 600px) {
  .gallery0 {
    height: 200px;
  }
}
.gallery0>.item{
    height: 300px;
    width: 100%;
}
.gallery0>.item>img{
    height: 100%;
    width: 100%
}
video{
    height: 100%;
    width: 90%;
    max-width: 535px

}
.hidden-tab{
    display: none
}

/************ bookings ************/
.booking-title{
    margin-top: 50px;
}
.book-panel {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center
}
.book-panel>img {
    height: 95%;
    width: 90%;
    max-width: 500px;
    opacity: 0.8;
    border: 1px solid white
}
h2 {
    text-align: center;
    font-size: 35px;
    color: rgba(255,255,255,0.7);
}
@media (max-width: 600px) {
  h2 {
    font-size: 50px;
  }
}
@media (max-width: 600px) {
  .book-concert-info {
    display: none;
  }
}
hr.hr-booking {
    padding-bottom: 0px
}
.book-info {
    margin-left: auto;
    margin-right: auto;
    width:60%;
    min-width: 200px;
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    text-align: center
}
@media (max-width: 600px) {
  .book-info {
    font-size: 18px;
      width: 80%
  }
}
.final-hr {
    margin-bottom: 3%
}
.book-panel.first {
    background-color: rgba(0,0,0,0);
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: auto;
    text-align: center;
    color: rgba(255,255,255,0.6)
}
.book-concert>img {
    height: 140px;
    width:140px;
    border-radius: 100%;
    border:solid white 1px;
    margin-top: 3%;
    margin-bottom: 8%
}
.book-concert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.concerts{
    margin-top: 10
}
.book-concert>span {
    font-size: 20px
}
@media (max-width: 600px) {
  .book-concert>span {
    font-size: 30px;
  }
}
.buy-tickets {
    padding: 8px 20px;
    font-size: 15px;
    font-family: Raleway;
    border: 1px solid rgba(78,24,65,0.7);
    border-radius: 10px;
    color: rgb(78,24,65);
    margin: 10px 0
}
@media (max-width: 600px) {
  .buy-tickets {
    font-size: 23px;
  }
}

.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}
.modal-content{
    color: rgb(74,28,65);
    font-family: Raleway;
    width: 40%;
    margin-left: auto;
    margin-right: auto
}
@media (max-width: 600px) {
  .modal-content {
    width: 100%;
    top: 100px;
  }
}
.modal-body>form{
    color: rgb(74,28,65);
    padding-top: 0
}
.modal-body>form>button{
    margin: 4px 0;
    border-radius: 8px;
    color: rgb(74,28,65);
    background-color: white;
    padding: 6px 15px

}
.modal-body>form>a{
    font-size: 12px
}
.book-panel.first {
    display: flex;
    flex-wrap: wrap
}
/************* contact ***************/
h1.contact-title {
    margin-top: 40px;
    margin-bottom: 0
}
.contact-box {
    background-color: rgba(74,28,65,0.5);
    width: 100%
}
.contact-form{
    float: left;
    margin-right: 1%;
    margin-bottom: 20px;
}
@media (max-width: 600px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
      width: 90%
  }
}
.contact-map{
    padding-top: 10px;
    width: 400px
}

@media (max-width: 600px) {
  .contact-map {
    width: 90%
  }
}
form {
    padding-top: 2%;
    color: rgba(255,255,255,0.7);
    font-family: Raleway;
}
@media (max-width: 600px) {
  form {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
form>legend {
    color: rgba(255,255,255,0.7);
    font-family: Raleway;
    margin: 1%  0;
}
@media (max-width: 600px) {
  form>legend {
    font-size: 20px;
    text-align: center
  }
}
.submit{
    border: 1px solid rgba(255, 255, 255, 0.6);
    padding: 1px 10px;
    background-color: rgba(74, 28, 65,0);
    border-radius: 10px;
    font-family: Raleway;
    color: rgba(255,255,255,0.8)
}
.query{
    margin-bottom: 2%
}
input, textarea{
    color: rgb(74, 28, 65)
}
@media (max-width: 600px) {
  input, textarea{
    width: 100%
    }
}
iframe {
    width: 100%;
    background-color: rgba(255,255,255,0.8)
}
.contact-box2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 80px
}
@media (max-width: 600px) {
  .contact-box2{
    margin-bottom: 200px
    }
}
