<h1 class="booking-title">Bookings</h1>


<h2 class="concerts">Concerts</h2>
<div class="book-panel first">

    <div class="book-concert col-sm-4"><img src="images/bookings/place1.jpg"><span>Nottingham</span>
        <div class="book-concert-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus
            molestiae vel beatae.
        </div>
        <button class="buy-tickets Nottingham" data-toggle="modal" data-target="#myModal">Tickets</button>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Buy Tickets</h4>
                </div>
                <div class="modal-body">

                    <form action="http://www.example.com/login/" method="post">
                        <p>Number of tickets<br>
                            <input type="number" name="quantity" required="required" min="1" max="5"></p>
                        <p>Email<br>
                            <input name="email" type="email" size="30" placeholder=" e.g. johnsmith@hotmail.co.uk"
                                   required="required"/>
                        </p>
                        <button type="submit" value="Submit">Paypal</button>
                        <br>
                        <a href="">Need Help?</a>
                    </form>

                </div>
                <div class="modal-footer">

                </div>
            </div>

        </div>
    </div>


    <div class="book-concert col-sm-4"><img src="images/bookings/place2.jpg"><span>Manchester</span>
        <div class="book-concert-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus
            molestiae vel beatae.
        </div>
        <button class="buy-tickets Manchester" data-toggle="modal" data-target="#myModal">Tickets</button>
    </div>

    <div class="book-concert col-sm-4"><img src="images/bookings/place3.jpg"><span>London</span>
        <div class="book-concert-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus
            molestiae vel beatae.
        </div>
        <button class="buy-tickets London" data-toggle="modal" data-target="#myModal">Tickets</button>
    </div>


</div>

<h2>Weddings</h2>
<div class="book-panel"><img src="images/bookings/wedding.jpg"></div>
<div class="book-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae
    natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate
    dolore doloribus!
    <br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione
    temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus
</div>
<hr class="hr-booking">
<h2>Corporate Events</h2>
<div class="book-panel"><img src="images/bookings/corporate.jpg"></div>
<div class="book-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae
    natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate
    dolore doloribus!
    <br><br>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione
    temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
</div>
<hr class="hr-booking final-hr">


<div class="footer-details">&copy Copyrighted<br>2016 Rebecca Manning</div>
