<h1>Bookings</h1>


<h2 class="concerts">Concerts</h2>
<div class="book-panel first">

<div class="book-concert col-sm-4"><img src="images/bookings/place1.jpg"><span>Nottingham</span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae.
    <div class="buy-tickets Nottingham">Tickets</div>
    </div>
<div class="book-concert col-sm-4"><img src="images/bookings/place2.jpg"><span>Manchester</span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae.
    <div class="buy-tickets Manchester">Tickets</div>
    </div>
<div class="book-concert col-sm-4"><img src="images/bookings/place3.jpg"><span>London</span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae.
    <div class="buy-tickets London">Tickets</div>
    </div>
    



</div>

<h2>Weddings</h2>
<div class="book-panel"><img src="images/bookings/wedding.jpg"></div>
<div class="book-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
<br><br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus</div>
<hr class="hr-booking">
<h2>Corporate Events</h2>
<div class="book-panel"><img src="images/bookings/corporate.jpg"></div>
<div class="book-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!
<br><br>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!</div>
<hr class="hr-booking final-hr">


<div class="footer-details">&copy Copyrighted<br>2016 Rebecca Manning</div>