<h1>Contact</h1>
<div class="contact-box">

<div class="contact-form">
<form action="http://www.example.com/login/" method="post">
    <p>Name:<br>
        <input name="name" type="text" size="34" placeholder="e.g. John Smith" required="required"/>
    </p>
    <p>Email:<br>
        <input name="email" type="email" size="34" placeholder="e.g. johnsmith@hotmail.co.uk" required="required"/>
    </p>
    <p class="query">Query:<br>
    <textarea name="query" cols="33" rows="5" style="resize:none" placeholder="Enter your comments..."></textarea></p>
    <input class="submit" type="submit" value="Submit"/>
</form>

    
    
<form action="http://www.example.com/subscribe/" method="post">
    <legend>Subscribe to our email list:</legend>
    <p><input name="email" type="email" size="34" placeholder="e.g. johnsmith@hotmail.co.uk" required="required"></p>
    <input class="submit" type="submit" value="Submit"/>
</form>

</div>
    
<div class="contact-map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21144.3163502684!2d-6.266013162015657!3d53.342529389291435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485960b2599459bf%3A0xdf400bb47990e9c9!2sRoyal+Irish+Academy+of+Music!5e0!3m2!1sen!2suk!4v1486307202244" width="35%" height=375px frameborder="0" style="border:0" allowfullscreen></iframe>  
</div>

</div>