<!-- Contact Title -->
<h1 class="contact-title">Contact</h1>

<div class="contact-box">
    <div class="contact-box2">

        <!-- Forms -->
        <div class="contact-form">

            <!-- Query Form -->
            <form id="myform1">
                <p>Name:<br>
                    <input name="name" type="text" size="34" placeholder="e.g. John Smith" required="required"/>
                </p>
                <p>Email:<br>
                    <input name="email" type="email" size="34" placeholder="e.g. johnsmith@hotmail.co.uk"
                           required="required"/>
                </p>
                <p class="query">Query:<br>
                    <textarea name="query" cols="33" rows="5" style="resize:none"
                              placeholder="Enter your comments..."></textarea></p>
                <!-- Submit button that opens Modal 1 -->
                <input class="submit" type="submit" value="Submit"/>
            </form>

            <!-- Subscribe to mailing list Form -->
            <form id="myform2">
                <p>Subscribe to our email list:<br>
                    <input name="email" type="email" size="34" placeholder="e.g. johnsmith@hotmail.co.uk"
                           required="required"></p>
                <!-- Submit button that opens Modal 2 -->
                <input class="submit" type="submit" value="Submit"/>
            </form>

        </div>


        <!-- Modal 1 -->
        <div id="myModal1" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Success!</h4>
                    </div>

                    <div class="modal-body text-center">
                        Your form has successfully been submitted and we will get back to your query within 48 hours via
                        email.
                        <br><br>Enjoy the rest of the site.
                    </div>

                    <div class="modal-footer">
                    </div>

                </div>
            </div>
        </div>


        <!-- Modal 2 -->
        <div id="myModal2" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title text-center">Success!</h4>
                    </div>

                    <div class="modal-body text-center">
                        Your form has successfully been submitted and you are now subscribed to our mailing list.
                        <br>
                        You should shortly recieve a confirmation email.
                        <br><br>
                        Enjoy the rest of the site!
                    </div>

                    <div class="modal-footer">
                    </div>

                </div>
            </div>
        </div>

        <!-- Contact Google Map -->
        <div class="contact-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d21144.3163502684!2d-6.266013162015657!3d53.342529389291435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485960b2599459bf%3A0xdf400bb47990e9c9!2sRoyal+Irish+Academy+of+Music!5e0!3m2!1sen!2suk!4v1486307202244"
                    width="35%" height=375px frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </div>
</div>
