<h1>Contact</h1>
<div class="contact-box">

<form action="http://www.example.com/login/" method="post">
    <p>Name:<br>
        <input name="name" type="text" size="30" placeholder="e.g. John Smith" required="required"/>
    </p>
    <p>Email:<br>
        <input name="email" type="email" size="30" placeholder="e.g. johnsmith@hotmail.co.uk" required="required"/>
    </p>
    <p>Query:<br>
    <textarea name="query" cols="30" rows="5" placeholder="Enter your comments..."> </textarea></p>
    <input type="submit" value="Submit"/>
</form>

    
    
<form action="http://www.example.com/subscribe/" method="post">
    <legend>Subscribe to our email list:</legend>
    <p>Email:<br><input name="email" size="30" placeholder="e.g. johnsmith@hotmail.co.uk" required="required"></p>
</form>
    
    

</div>