<div class="listen-body">
    <div class="listen-body2">

        <!-- Listen Title -->
        <h1 class="listen-title">Listen &amp; Look</h1>

        <!-- Listen Content -->
        <div id="listen-options">
            <div class="tab-content">

                <!-- Listen Tab -->
                <div id="pill1" class="tab-pane fade in active">

                    <div class="listen-options" id="listen">

                        <!-- Album covers that appear with each tab below -->
                        <img class="tab1 tab-all" id="album-main" src="images/album.jpg">
                        <img class="hidden-tab tab2 tab-all" id="album-main" src="images/album2.jpg">
                        <img class="hidden-tab tab3 tab-all" id="album-main" src="images/cover3.jpg">
                        <img class="hidden-tab tab4 tab-all" id="album-main" src="images/cover.jpg">

                        <div class="listen-opt-body">
                            <div class="tab content">

                                <!-- Song tab 1 -->
                                <div class="listen-opt-info tab1 tab-all">
                                    <div class="listen-album-info"><strong>Daydream Believer</strong>
                                        <br> The Birds, The Bees
                                        <br>Swing/Jive
                                        <br><em class="year">2017</em></div>
                                    <audio id="player" src="media/DaydreamBeliever.mp3" controls></audio>
                                </div>

                                <!-- Song tab 2 -->
                                <div class="listen-opt-info tab2 tab-all hidden-tab">
                                    <div class="listen-album-info"><strong>Clarksville</strong>
                                        <br>Concert Recordings
                                        <br>Swing/Jive
                                        <br><em class="year">2017</em></div>
                                    <audio id="player" src="media/Clarksville.mp3" controls></audio>
                                </div>

                                <!-- Song tab 3 -->
                                <div class="listen-opt-info tab3 tab-all hidden-tab">
                                    <div class="listen-album-info"><strong>I'm A Believer</strong>
                                        <br>More of the Monkees
                                        <br>Swing/Jive
                                        <br><em class="year">2016</em></div>
                                    <audio id="player" src="media/ImABeliever.mp3" controls></audio>
                                </div>

                                <!-- Song tab 4 -->
                                <div class="listen-opt-info tab4 tab-all hidden-tab">
                                    <div class="listen-album-info"><strong>Stepping Stone</strong>
                                        <br>More of the Monkees
                                        <br>Swing/Jive
                                        <br><em class="year">2016</em></div>
                                    <audio id="player" src="media/SteppingStone.mp3" controls></audio>
                                </div>

                            </div>

                            <!-- Albums that when clicked open up the different song tabs above -->
                            <div class="listen-opt-albums">
                                <button class="button-tab1" onclick="playtab('.tab1')"><img id="album1" src="images/album.jpg"></button>
                                <button class="button-tab2" onclick="playtab('.tab2')"><img id="album2" src="images/album2.jpg"></button>
                                <button class="button-tab3" onclick="playtab('.tab3')"><img id="album3" src="images/cover3.jpg"></button>
                                <button class="button-tab4" onclick="playtab('.tab4')"><img id="album4" src="images/cover.jpg"></button>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Gallery tab -->
                <div id="pill2" class="tab-pane fade">
                    <div class="listen-options" id="gallery">

                        <!-- Photo Gallery Directive -->
                        <photos></photos>

                    </div>
                </div>


                <!-- Watch tab -->
                <div id="pill3" class="tab-pane fade">
                    <div class="listen-options" id="watch">

                        <!-- Video of the band -->
                        <video src="media/TheMonkees.mp4" type="video/mp4" controls></video>

                    </div>
                </div>


                <!-- Itunes Search API -->
                <div id="pill4" class="tab-pane fade">
                    <div class="listen-options" id="search" ng-controller="ItunesController">

                        <!-- Itunes Search API Directive -->
                        <itunes></itunes>

                    </div>
                </div>

            </div>


            <!-- Pill Nagivation: Listen, Gallery, Watch and Search -->
            <ul class="meet listen-meet">
                <li class="active"><a data-toggle="pill" href="/#pill1">Listen</a></li>
                <li><a data-toggle="pill" data-target="#pill2">Gallery</a></li>
                <li><a data-toggle="pill" data-target="#pill3">Watch</a></li>
                <li><a data-toggle="pill" data-target="#pill4">Search</a></li>
            </ul>

        </div>
    </div>
</div>
