
<div class="listen-body">   
    
<h1>Listen & Look</h1>
<div id="listen-options">
 
<div class="tab-content">
<div id="pill1" class="tab-pane fade in active">
    <div class="listen-options" id="listen">
    
    <img id="album-main" src="images/cover3.jpg">
    
    <div class="listen-opt-body">
    <div class="listen-opt-info">
        <div class="listen-album-info"><strong>Song name</strong>
        <br>Album
        <br>Artist
        <br><em class="year">Year</em></div>
        <audio id="player" src="media/DaydreamBeliever.mp3" controls></audio>
    </div>
        
    <div class="listen-opt-albums">
    <a href=""><img id="album1" src="images/album.jpg"></a>
    <a href=""><img id="album2" src="images/album2.jpg"></a>
    <a href=""><img id="album3" src="images/cover3.jpg"></a>
    <a href=""><img id="album4" src="images/cover.jpg"></a>
    </div>
    </div>
        
    </div>
</div>
    
<div id="pill2" class="tab-pane fade">
  <div class="listen-options" id="gallery">
      
    

        
      <photos></photos>
      
      
      
      
      
      
      
      
  </div>
</div>
    
<div id="pill3" class="tab-pane fade">
  <div class="listen-options" id="watch">
    
      <video src="media/TheMonkees.mp4" type="video/mp4" controls></video>
      
  </div>
</div>
    
<div id="pill4" class="tab-pane fade">
  <div class="listen-options" id="search"  ng-controller="ItunesController">
    
      
      
      <!-- show an error if there's a search error -->
        {{ error }}
        <!-- add form, use ng-submit directive to call 
             searchiTunes, pass the artist -->
        <form name="search" ng-submit="searchiTunes(artist)">

         <!-- Artist/band name required, use the ng-model 
              directive to pass the artist name back into the
              controller/model -->
         <input type="search" required placeholder="Artist" ng-model="artist"/>
            <input type="submit" value="Search"/>
        </form>
        <!-- ng-show directive to decide when to show results. 
             In this case, we will show the songs when there 
             are songs to show. -->
        <table ng-show="songs">
            <thead>
                <tr>
                   <th>Album Art</th>
                   <th>Track</th>
                   <th>Preview</th>
                </tr>
            </thead>
            <tbody>
                <!-- ng-repeat directive to loop over each 
                     song in the songs list. -->
                <!-- The song data is loaded into objects for 
                     easy access. Just call on the attributes 
                     you need. -->
                <tr ng-repeat="song in songs">
                    <!-- ng-src lets you load imgs when data 
                         is present. -->
                    <td><img ng-src="{{song.artworkUrl60}}" 
                         alt="{{song.collectionName}}"/> 
                    </td>
                    <td>{{song.trackName}}</td>
                    <td><a href="{{song.previewUrl}}" target="_blank">Play</a></td>
                    
                </tr>
            </tbody>
        </table>
      
      
      
      
  </div>
</div>

</div>


    
<ul class="meet">
    <li class="active"><a data-toggle="pill" href="#pill1">Listen</a></li>
    <li><a data-toggle="pill" data-target="#pill2">Gallery</a></li>
    <li><a data-toggle="pill" data-target="#pill3">Watch</a></li>
    <li><a data-toggle="pill" data-target="#pill4">Search</a></li>
</ul>

</div>

</div>


