
<div class="listen-body">   
    
<h1>Listen & Look</h1>
<div id="listen-options">
 
<div class="tab-content">
<div id="pill1" class="tab-pane fade in active">
    <div class="listen-options" id="listen">
    
    <img id="album-main" src="images/cover3.jpg">
    
    <div class="listen-opt-body">
    <div class="listen-opt-info">
        <div class="listen-album-info">Album Title
        <br>Artist
        <br><em class="year">Year</em></div>
        <audio src="media/DaydreamBeliever.mp3" controls></audio>
    </div>
        
    <div class="listen-opt-albums">
    <a href=""><img id="album1" src="images/album.jpg"></a>
    <a href=""><img id="album2" src="images/album2.jpg"></a>
    <a href=""><img id="album3" src="images/cover3.jpg"></a>
    <a href=""><img id="album4" src="images/cover.jpg"></a>
    </div>
    </div>
        
    </div>
</div>
    
<div id="pill2" class="tab-pane fade">
  <div class="listen-options" id="gallery">
      
      <img>
      
  </div>
</div>
    
<div id="pill3" class="tab-pane fade">
  <div class="listen-options" id="watch">
    
      <video src="media/TheMonkees.mp4" type="video/mp4" controls></video>
      
  </div>
</div>
    
<div id="pill4" class="tab-pane fade">
  <div class="listen-options" id="search">
    
      
      
      
      
      
      
  </div>
</div>

</div>


    
<ul class="meet">
    <li class="active"><a data-toggle="pill" href="#pill1">Listen</a></li>
    <li><a data-toggle="pill" data-target="#pill2">Gallery</a></li>
    <li><a data-toggle="pill" data-target="#pill3">Watch</a></li>
    <li><a data-toggle="pill" data-target="#pill4">Search</a></li>
</ul>

</div>

</div>


