<div class="meet-header">
<img src="images/dj.jpg">
<img src="images/md.jpg">
<img src="images/mn.jpg">
<img src="images/pt.jpg">
</div>

<h1 class="meet-maintitle">Meet the Band</h1>


<ul class="meet laptop">
    <li><a href="#/meet-the-band#dj-section">John Smith</a></li>
    <li><a href="#/meet-the-band#md-section">John Smith</a></li>
    <li><a href="#/meet-the-band#mn-section">John Smith</a></li>
    <li><a href="#/meet-the-band#pt-section">John Smith</a></li>
</ul>

<ul class="meet phone">
    <li><a href="#/meet-the-band#dj-section">John</a></li>
    <li><a href="#/meet-the-band#md-section">John</a></li>
    <li><a href="#/meet-the-band#mn-section">John</a></li>
    <li><a href="#/meet-the-band#pt-section">John</a></li>
</ul>

<a class="top" href="#/meet-the-band#top"><img src="images/icons/top.png"></a>

<div class="meet-member-container">
    <div class="meet-member-images">
        <img class="meet"  src="images/meet/saxophone1.png">
        <img id="dj-section" class="meet-member dj" src="images/dj.jpg">
        <div class="dj-name">John Smith</div>
    </div>
    
    <div class="member">
    <div class="col-sm-6" id="one">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!</div>
    <div class="col-sm-6" id="two">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!</div>
    </div>
    <hr>
</div>

<div class="meet-member-container">
    <div class="meet-member-images">
        <img class="meet" src="images/meet/piano1.png">
        <img id="md-section" class="meet-member md" src="images/md.jpg">
        <div class="md-name">John Smith</div>
    </div>

    <div class="member">
    <div class="col-sm-6" id="one">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!</div>
    <div class="col-sm-6" id="two">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!</div>
    </div>
    <hr>
</div>

<div class="meet-member-container">
    <div class="meet-member-images">
        <img class="meet" src="images/meet/guitar1.png">
        <img id="mn-section" class="meet-member mn" src="images/mn.jpg">
        <div class="mn-name">John Smith</div>
    </div>

    <div class="member">
    <div class="col-sm-6" id="one">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!</div>
    <div class="col-sm-6" id="two">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!</div>
    </div>
    <hr>
</div>


<div class="meet-member-container">
    <div class="meet-member-images">
        <img class="meet" src="images/meet/drums1.png">
        <!--<div class="meet-member-box">--><img id="pt-section" class="meet-member pt" src="images/pt.jpg"><!--</div>-->
        <div class="pt-name">John Smith</div>
    </div>

    <div class="member">
    <div class="col-sm-6 final" id="one">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!</div>
    <div class="col-sm-6 final" id="two">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus!</div>
    </div>
    <hr class="final">
</div>

<div class="footer-details">&copy Copyrighted<br>2016 Rebecca Manning</div>