<!-- Meet Header: Images of each band member -->
<div class="meet-header">
    <img src="images/dj.jpg">
    <img src="images/md.jpg">
    <img src="images/mn.jpg">
    <img src="images/pt.jpg">
</div>

<!-- Meet Title -->
<h1 class="meet-maintitle">Meet the Band</h1>

<!-- Meet Navigation options for each Band member. When clicked, sends to the section of information below for the corresponding band member -->
<ul class="meet laptop">
    <li><a href="#/meet-the-band#dj-section">John Smith</a></li>
    <li><a href="#/meet-the-band#md-section">Peter Andrews</a></li>
    <li><a href="#/meet-the-band#mn-section">Tom Jeffery</a></li>
    <li><a href="#/meet-the-band#pt-section">Carter Johnson</a></li>
</ul>

<!-- Meet Navigations options for each Band member: mobile display -->
<ul class="meet phone">
    <li><a href="#/meet-the-band#dj-section">John</a></li>
    <li><a href="#/meet-the-band#md-section">Peter</a></li>
    <li><a href="#/meet-the-band#mn-section">Tom</a></li>
    <li><a href="#/meet-the-band#pt-section">Carter</a></li>
</ul>

<!-- Link to the top of the page -->
<a class="top" href="#/meet-the-band#top"><img src="images/icons/top.png"></a>

<!-- Band Member 1 Information -->
<div class="meet-member-container">

    <div class="meet-member-images saxophone">
        <img id="dj-section" class="meet-member dj" src="images/dj.jpg">
        <div class="dj-name">John Smith</div>
    </div>

    <div class="member-info">
        <div class="member">
            <div class="col-sm-6" id="one">The Saxophone player and co-writer of the band whose career took off at a
                young age. Playing music since he was 10, he has attended various coaching schools in London where he
                gained his unique sound and creativity.
            </div>
            <div class="col-sm-6" id="two">He moved to Dublin to progress his music career after hearing the other band
                members. He contacted them and visited their shows before showing them his music ideas. This progressed
                to the band you you see on this website.
            </div>
        </div>
    </div>

    <hr>
</div>

<!-- Band Member 2 Information -->
<div class="meet-member-container">

    <div class="meet-member-images piano">
        <img id="md-section" class="meet-member md" src="images/md.jpg">
        <div class="md-name">Peter Andrews</div>
    </div>

    <div class="member-info">
        <div class="member">
            <div class="col-sm-6" id="one">One of the best pianists you will hear! Following on from his father he
                continued the amazing talent in Dublin. He then progressed to teaching others in the local music school
                which has seen many famous pianists.
            </div>
            <div class="col-sm-6" id="two">Following his music school and the talent that was coming out from it, John
                Smith found Peter and showed him all his ideas. They played music together and straight away realised
                the direction they were heading.
            </div>
        </div>
    </div>

    <hr>
</div>

<!-- Band Member 3 Information -->
<div class="meet-member-container">

    <div class="meet-member-images guitar">
        <img id="mn-section" class="meet-member mn" src="images/mn.jpg">
        <div class="mn-name">Tom Jeffery</div>
    </div>

    <div class="member-info">
        <div class="member">
            <div class="col-sm-6" id="one">Tom is a key member of the band with his creative music ideas. He graduated
                from Nottingham with a 1st in English whilst also writing for the local music magazine. Here he realised
                his love for music and after University spent the next few years delving deeper into the music industry.
            </div>
            <div class="col-sm-6" id="two">He taught himself guitar within a month and started writing his own music. He
                wrote music for various famous artists until he was found by John and Peter with the idea to have him in
                the band. Tom now continues to write incredible music as well as play the guitar.
            </div>
        </div>
    </div>

    <hr>
</div>

<!-- Band Member 4 Information -->
<div class="meet-member-container">

    <div class="meet-member-images drums">
        <img id="pt-section" class="meet-member pt" src="images/pt.jpg">
        <div class="pt-name">Carter Johnson</div>
    </div>

    <div class="member-info">
        <div class="member">
            <div class="col-sm-6 final" id="one">Lastly, holding the band together is Carter Johnson. He has an ear for
                the beat to songs like no other. Growing up in various countries, because his mother was an artist, he
                was influenced by the different cultured music.
            </div>
            <div class="col-sm-6 final" id="two">From a young age he appeared in various bands learning to work with
                different musicians. He met the other band members at a music event and since then they have understood
                each other's work beautifully.
            </div>
        </div>

        <hr class="final">
    </div>
</div>

<!-- Copyrighted Footer Information -->
<div class="footer-details">&copy Copyrighted<br>2016 Rebecca Manning</div>
